[submodule "libxml2/source"]
	path = libxml2/source
	url = https://github.com/dsleep/libxml2.git
[submodule "libiconv/source"]
	path = libiconv/source
	url = https://github.com/dsleep/libiconv.git
[submodule "ceres/source"]
	path = ceres/source
	url = https://github.com/dsleep/ceres-solver.git
[submodule "suitesparse/source"]
	path = suitesparse/source
	url = https://github.com/dsleep/suitesparse-metis-for-windows.git
[submodule "eigen/source"]
	path = eigen/source
	url = https://github.com/dsleep/eigen-git-mirror.git
[submodule "opencv/source"]
	path = opencv/source
	url = https://github.com/dsleep/opencv.git
[submodule "lz4/source"]
	path = lz4/source
	url = https://github.com/dsleep/lz4.git
	branch = dev
[submodule "libjpeg-turbo/source"]
	path = libjpeg-turbo/source
	url = https://github.com/dsleep/libjpeg-turbo.git
[submodule "openjpeg/source"]
	path = openjpeg/source
	url = https://github.com/dsleep/openjpeg.git
[submodule "libav/source"]
	path = libav/source
	url = https://github.com/dsleep/libav.git
[submodule "x264/source"]
	path = x264/source
	url = https://github.com/dsleep/x264.git
[submodule "openssl"]
	path = openssl/source
	url = https://github.com/openssl/openssl.git
[submodule "curl"]
	path = curl/source
	url = https://github.com/curl/curl.git
