[submodule "libxml2/source"]
	path = libxml2/source
	url = https://github.com/dsleep/libxml2.git
[submodule "libiconv/source"]
	path = libiconv/source
	url = https://github.com/dsleep/libiconv.git
[submodule "ceres/source"]
	path = ceres/source
	url = https://github.com/dsleep/ceres-solver.git
